*{
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
html{
    justify-content: center;
    justify-items: center;
}
body{
    width: 100%;
    justify-content: center;
    justify-items: center;
    background: url(/assets/imagens/home/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
header{
    margin-top: 1vw;
}
.header-frame{
    width: 100%;
    height: 3vw;
}
.header-content{
    width: 100%;
    height: 100%;
    display: flex;
}
.header-element{
    width: 33%;
    height: 100%;
}
.header-element *{
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}
.header-element#left{
    justify-content: center;
    justify-items: center;
}
#content-left-1:hover{
    cursor: pointer;
}
#selector-tittle{
    height: 0px;
    width: 0px;
    opacity: 0;
    border: 1px solid black;
    transition: 300ms;
}
#content-left-1:hover ~ #selector-tittle{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid black;
    transition: 300ms;
}
.header-element#middle{
    justify-content: center;
    justify-items: center;
}
#logo1{
    width: 3vw;
    height: 3vw;
}
.header-element#middle{
}
#frame-middle-1{
    background: linear-gradient(0.45turn, rgba(0, 0, 0, 0), rgba(255, 0, 0, 0.692));
    padding: 1vw;
    margin-top: -1vw;
    border-radius: 3vw;
    animation: brilho 5s infinite;
    transition: 500ms;
}
#content-middle-1{
    animation: brilho2 5s infinite ;
}
@keyframes brilho{
    0%{
        transform: rotate(-360deg);
        transition: 100ms;
    }
    100%{
        transform: rotate(0deg);
        transition: 100ms;
    }
}
@keyframes brilho2{
    0%{
        transform: rotate(0deg);
        transition: 100ms;
    }
    100%{
        transform: rotate(-360deg);
        transition: 100ms;
    }
}
#frame-middle-1:hover{
    cursor: pointer;
    box-shadow: -0.1vw -0.1vw black;
    transition: 500ms;
}
.header-element#right{
    justify-content: center;
    justify-items: center;
}
.menu-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.option-menu{
    font-size: 1vw;
    width: auto;
    height: 1.5vw;
    padding: 0vw 1vw;
    margin: 0vw 1vw;
    background: none;
    border: none;
}
#option-menu-1:hover{
    cursor: pointer;
}
#option-menu-1:hover ~ #selector-option-1{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid black;
    transition: 300ms;
}
#selector-option-1{
    height: 0px;
    width: 0%;
    opacity: 0;
    border: 1px solid black;
    transition: 300ms;
}

#option-menu-2:hover{
    cursor: pointer;
}
#option-menu-2:hover ~ #selector-option-2{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid black;
    transition: 300ms;
}
#selector-option-2{
    height: 0px;
    width: 0%;
    opacity: 0;
    border: 1px solid black;
    transition: 300ms;
}

#option-menu-3:hover{
    cursor: pointer;
}
#option-menu-3:hover ~ #selector-option-3{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid black;
    transition: 300ms;
}
#selector-option-3{
    height: 0px;
    width: 0%;
    opacity: 0;
    border: 1px solid black;
    transition: 300ms;
}
main{
    margin-top: 5vw;
    width: 90%;
    height: 30rem;
    padding: 2vw 0vw;
    justify-content: center;
    justify-items: center;
    display: row;
    background: rgba(255, 255, 255, 0.267);
    border-radius: 1vw;
    border: 1px solid black;
}
#banner-content{
    justify-content: center;
    justify-items: center;
}
#banner-frame{
    width: 70%;
    margin-top: 2vw;
    font-size: 1.3vw;
}
#banner-apresentation{
    margin-top: 4vw;
}
#disk-frame{
    margin-top: 4vw;
    border-radius: 1vw;
    width: 90%;
    display: flex;
    background: rgba(0, 0, 0, 0.253);
}
.part-frame{
    width: 50%;
    justify-content: center;
    justify-items: center;
}
#frame-main{
    border: 1px solid black;
    width: 90%;
    height: auto;
}
#content-main-left-1, #doctor{
    width: 70%;
    margin-top: 4vw;
    font-size: 1vw;
}
#doctor{
    border: 1px solid black;
}