*{
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
html{
    justify-content: center;
    justify-items: center;
}
body{
    width: 90%;
    justify-content: center;
    justify-items: center;
    background: url(/assets/imagens/home/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
header{
    margin-top: 0vw;
    padding: 1vw;
    background: linear-gradient( rgba(99, 93, 93, 0.692),rgba(12, 73, 187, 0));
}
.header-frame{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.header-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-element{
    width: 30%;
    height: 100%;
}
.header-element *{
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}
.header-element#left{
    justify-content: center;
    justify-items: center;
    width: auto;
    margin-left: -9vw;
}
#frame-left{
    margin-top: 0.5vw;
    width: auto;
}
#content-left-1{
    display: flex;
    cursor: pointer;
    width: 100%;
    margin-left: 0vw;
}
#content-left-1:hover #thelife{
    opacity: 1;
    transform: translate(0vw);
    transition: 1s;
}
#click-save-logo{
    
    font-size: 2vw;
}
#click-save-logo p{
    opacity: 0;
}
#thelife{
    opacity: 0;
    transition: 500ms;
    margin-left: 1vw;
    transform: translate(-10vw);
    font-size: 1vw;
}

#selector-tittle{
    height: 0px;
    width: 0px;
    opacity: 0;
    transition: 300ms;
}
#content-left-1:hover ~ #selector-tittle{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}
.logo-name{
    text-shadow: 0.1vw 0.1vw black;
}
#logo-name-back{
    position: relative;
    opacity: 0;
    top: -3vw;
}
#click-save{
    cursor: pointer;
    opacity: 1;
}
.h-left-frame:hover ~ #click-save{
    opacity: 0;
    background: black;
}
.h-left-frame:hover ~ #logo-name-back{
    opacity: 1;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.header-element#middle{
    width: auto;
    height: auto;
    justify-content: center;
    justify-items: center;
}
#logo1{
    width: 200%;
    height: 200%;
    margin-top: -1vw;
    margin-left: -1vw;
}

#frame-middle-1{
    background: linear-gradient(0.45turn, rgba(0, 255, 145, 0.568), rgba(6, 175, 170, 0.521));
    padding: 2vw;
    width: 2vw;
    height: 2vw;
    border-radius: 10vw;
    animation: brilho 2s infinite;
    transition: 100ms;
    border: 1px solid black;
}
#content-middle-1{
    
    animation: brilho2 2s infinite ;
}
@keyframes brilho{
    0%{
        transform: rotate(-360deg);
        transition: 100ms;
    }
    100%{
        transform: rotate(0deg);
        transition: 100ms;
    }
}
@keyframes brilho2{
    0%{
        transform: rotate(0deg);
        transition: 100ms;
    }
    100%{
        transform: rotate(-360deg);
        transition: 100ms;
    }
}
#frame-middle-1:hover{
    cursor: pointer;
    box-shadow: -0.1vw -0.1vw rgb(0, 217, 255);
    transition: 500ms;
}
.header-element#right{
    justify-content: center;
    justify-items: center;
    width: 40%;
    height: 100%;
}
.menu-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.button{
    justify-content: center;
    justify-items: center;
}
.option-menu{
    font-size: 2vw;
    width: auto;
    height: auto;
    padding: 0vw 1vw;
    margin: 0vw 1vw;
    background: none;
    border: none;
}
.selector{
    margin-top: 0.5vw;
}
#option-menu-1:hover{
    cursor: pointer;
}
#option-menu-1:hover ~ #selector-option-1{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}
#selector-option-1{
    height: 0px;
    width: 0%;
    opacity: 0;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}

#option-menu-2:hover{
    cursor: pointer;
}
#option-menu-2:hover ~ #selector-option-2{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}
#selector-option-2{
    height: 0px;
    width: 0%;
    opacity: 0;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}

#option-menu-3:hover{
    cursor: pointer;
}
#option-menu-3:hover ~ #selector-option-3{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}
#selector-option-3{
    height: 0px;
    width: 0%;
    opacity: 0;
    border: 1px solid black;
    transition: 300ms;
}
main{
    margin-top: 0vw;
    width: 90%;
    height: 30rem;
    padding: 2vw 0vw;
    justify-content: center;
    justify-items: center;
    display: row;
    background: rgba(0, 0, 0, 0.267);
    border-radius: 1vw;
    border: 1px solid black;
}
#main-frame{
    height: 100%;
    width: 100%;
    justify-content: center;
    justify-items: center;
}
#main-frame *{
    height: auto;
    width: auto;
    border: 1px solid black;
}
.tittle-main{
    margin: 1vw 0vw;
}
.info-frame{
    display: flex;

}
.content-media{
    justify-items: center;
    justify-content: center;
}
.info{
    width: 50%;
}