@media(max-width:770px) {
*{
    padding: 0;
    margin: 0;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
html{
    justify-content: center;
    justify-items: center;
}
body{
    width: 90%;
    justify-content: center;
    justify-items: center;
    background: rgb(0, 164, 182);
    background-size: cover;
    background-repeat: no-repeat;
    
}
header{
    margin-top: 0vw;
    padding: 1vw;
}
.header-frame{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.header-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-element{
    width: 30%;
    height: 100%;
}
.header-element *{
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}
.header-element#left{
    justify-content: center;
    justify-items: center;
    width: auto;
    margin-left: -9vw;
}
#frame-left{
    margin-top: 0.5vw;
    width: auto;
}
#content-left-1{
    display: flex;
    cursor: pointer;
    width: 100%;
    margin-left: 0vw;
}
#content-left-1:hover #thelife{
    opacity: 1;
    transform: translate(0vw);
    transition: 1s;
}
#click-save-logo{
    
    font-size: 2vw;
}
#click-save-logo p{
    opacity: 0;
}
#thelife{
    opacity: 0;
    transition: 500ms;
    margin-left: 1vw;
    transform: translate(-10vw);
    font-size: 1vw;
}

#selector-tittle{
    height: 0px;
    width: 0px;
    opacity: 0;
    transition: 300ms;
}
#content-left-1:hover ~ #selector-tittle{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}
.logo-name{
    text-shadow: 0.1vw 0.1vw black;
}
#logo-name-back{
    position: relative;
    opacity: 0;
    top: -3vw;
}
#click-save{
    cursor: pointer;
    opacity: 1;
}
.h-left-frame:hover ~ #click-save{
    opacity: 0;
    background: black;
}
.h-left-frame:hover ~ #logo-name-back{
    opacity: 1;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.header-element#middle{
    width: auto;
    height: auto;
    justify-content: center;
    justify-items: center;
}
#logo1{
    width: 200%;
    height: 200%;
    margin-top: -1vw;
    margin-left: -1vw;
}

#frame-middle-1{
    background: linear-gradient(0.45turn, rgba(0, 255, 145, 0.568), rgba(6, 175, 170, 0.521));
    padding: 2vw;
    width: 2vw;
    height: 2vw;
    border-radius: 10vw;
    animation: brilho 2s infinite;
    transition: 100ms;
    border: 1px solid black;
}
#content-middle-1{
    
    animation: brilho2 2s infinite ;
}
@keyframes brilho{
    0%{
        transform: rotate(-360deg);
        transition: 100ms;
    }
    100%{
        transform: rotate(0deg);
        transition: 100ms;
    }
}
@keyframes brilho2{
    0%{
        transform: rotate(0deg);
        transition: 100ms;
    }
    100%{
        transform: rotate(-360deg);
        transition: 100ms;
    }
}
#frame-middle-1:hover{
    cursor: pointer;
    box-shadow: -0.1vw -0.1vw rgb(0, 217, 255);
    transition: 500ms;
}
.header-element#right{
    justify-content: center;
    justify-items: center;
    width: 40%;
    height: 100%;
}
.menu-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.button{
    justify-content: center;
    justify-items: center;
}
.option-menu{
    font-size: 2vw;
    width: auto;
    height: auto;
    padding: 0vw 1vw;
    margin: 0vw 1vw;
    background: none;
    border: none;
}
.selector{
    margin-top: 0.5vw;
}
#option-menu-1:hover{
    cursor: pointer;
}
#option-menu-1:hover ~ #selector-option-1{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}
#selector-option-1{
    height: 0px;
    width: 0%;
    opacity: 0;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}

#option-menu-2:hover{
    cursor: pointer;
}
#option-menu-2:hover ~ #selector-option-2{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}
#selector-option-2{
    height: 0px;
    width: 0%;
    opacity: 0;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}

#option-menu-3:hover{
    cursor: pointer;
}
#option-menu-3:hover ~ #selector-option-3{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}
#selector-option-3{
    height: 0px;
    width: 0%;
    opacity: 0;
    border: 1px solid black;
    transition: 300ms;
}

main{
    justify-content: center;
    justify-items: center;
    margin-top: 0vw;
    width: 90%;
    height: auto;
    padding: 2vw 0vw;
    display: block;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.267);
    border-radius: 1vw;
    border: 1px solid black;
}
.main{
    justify-content: center;
    justify-items: center;
    background:linear-gradient(to top, rgba(0, 210, 233, 0.334), rgba(0, 116, 166, 0));
}
#main-frame{
    height: 100%;
    width: 100%;
    justify-content: center;
    justify-items: center;
}
#tittle-main{
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    margin: 1vw 0vw;
    width: 60%;
    display: flex;
}
#video-main{
    justify-content: center;
    justify-items: center;
    margin: 2vw auto;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.285) 1vw 0.4vw;
    width: 90%;
}
#content-media{
    justify-content: center;
    justify-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin: 3vw 0vw;
    background: rgba(0, 0, 0, 0.534);
    display: flex;
}
#img-main{
    width: 10vw;
    height: 10vw;
    justify-content: center;
    justify-items: center;
}
.tittle-cpr{
    margin: 0vw auto;
    justify-content: center;
}
.help{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.help-wrapper{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: space-between;
    width: 20%;
    height: auto;
    border: 2px solid black;
    background: rgba(0, 126, 253, 0.104);
    border-radius: 10px;
    margin: 1vw 2vw;
    padding: 1vw 2vw;
}
.help *{
    font-size: 1.4vw;
}
.tittle-help{
    justify-content: center;
    justify-items: center;
}
.tittle-help h1{
    font-size: 2vw;
    margin: 2vw 0vw;
}
.tittle-help h2{
    font-size: 1.5vw;
}
.image-help{
    margin: 2vw 0vw;
}
.img-cpr{
    width: 100%;
    background: rgba(255, 255, 255, 0.378);
    border: 1px solid black;
    border-radius: 5px;
}
.line{
    justify-content: center;
    justify-items: center;
    width: auto;
    height: auto;
    margin: 5vw 0vw;
}
.img{
    display: block;
    width: 10%;
}
.separator{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: block;
    height: 0%;
    width: 90%;
    border: 1px solid black;
}
}
@media (min-width:771px) {
    *{
    padding: 0;
    margin: 0;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
html{
    justify-content: center;
    justify-items: center;
}
body{
    width: 90%;
    justify-content: center;
    justify-items: center;
    background: rgb(0, 164, 182);
    background-size: cover;
    background-repeat: no-repeat;
    
}
header{
    margin-top: 0vw;
    padding: 1vw;
}
.header-frame{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.header-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-element{
    width: 30%;
    height: 100%;
}
.header-element *{
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90%;
}
.header-element#left{
    justify-content: center;
    justify-items: center;
    width: auto;
    margin-left: -9vw;
}
#frame-left{
    margin-top: 0.5vw;
    width: auto;
}
#content-left-1{
    display: flex;
    cursor: pointer;
    width: 100%;
    margin-left: 0vw;
}
#content-left-1:hover #thelife{
    opacity: 1;
    transform: translate(0vw);
    transition: 1s;
}
#click-save-logo{
    
    font-size: 2vw;
}
#click-save-logo p{
    opacity: 0;
}
#thelife{
    opacity: 0;
    transition: 500ms;
    margin-left: 1vw;
    transform: translate(-10vw);
    font-size: 1vw;
}

#selector-tittle{
    height: 0px;
    width: 0px;
    opacity: 0;
    transition: 300ms;
}
#content-left-1:hover ~ #selector-tittle{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}
.logo-name{
    text-shadow: 0.1vw 0.1vw black;
}
#logo-name-back{
    position: relative;
    opacity: 0;
    top: -3vw;
}
#click-save{
    cursor: pointer;
    opacity: 1;
}
.h-left-frame:hover ~ #click-save{
    opacity: 0;
    background: black;
}
.h-left-frame:hover ~ #logo-name-back{
    opacity: 1;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.header-element#middle{
    width: auto;
    height: auto;
    justify-content: center;
    justify-items: center;
}
#logo1{
    width: 200%;
    height: 200%;
    margin-top: -1vw;
    margin-left: -1vw;
}

#frame-middle-1{
    background: linear-gradient(0.45turn, rgba(0, 255, 145, 0.568), rgba(6, 175, 170, 0.521));
    padding: 2vw;
    width: 2vw;
    height: 2vw;
    border-radius: 10vw;
    animation: brilho 2s infinite;
    transition: 100ms;
    border: 1px solid black;
}
#content-middle-1{
    
    animation: brilho2 2s infinite ;
}
@keyframes brilho{
    0%{
        transform: rotate(-360deg);
        transition: 100ms;
    }
    100%{
        transform: rotate(0deg);
        transition: 100ms;
    }
}
@keyframes brilho2{
    0%{
        transform: rotate(0deg);
        transition: 100ms;
    }
    100%{
        transform: rotate(-360deg);
        transition: 100ms;
    }
}
#frame-middle-1:hover{
    cursor: pointer;
    box-shadow: -0.1vw -0.1vw rgb(0, 217, 255);
    transition: 500ms;
}
.header-element#right{
    justify-content: center;
    justify-items: center;
    width: 40%;
    height: 100%;
}
.menu-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.button{
    justify-content: center;
    justify-items: center;
}
.option-menu{
    font-size: 2vw;
    font-size: 50%;
    width: auto;
    height: auto;
    padding: 0vw 1vw;
    margin: 0vw 1vw;
    background: none;
    border: none;
}
.selector{
    margin-top: 0.5vw;
}
#option-menu-1:hover{
    cursor: pointer;
}
#option-menu-1:hover ~ #selector-option-1{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}
#selector-option-1{
    height: 0px;
    width: 0%;
    opacity: 0;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}

#option-menu-2:hover{
    cursor: pointer;
}
#option-menu-2:hover ~ #selector-option-2{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}
#selector-option-2{
    height: 0px;
    width: 0%;
    opacity: 0;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}

#option-menu-3:hover{
    cursor: pointer;
}
#option-menu-3:hover ~ #selector-option-3{
    height: 0px;
    width: 100%;
    opacity: 1;
    border: 1px solid rgb(255, 255, 255);
    transition: 300ms;
}
#selector-option-3{
    height: 0px;
    width: 0%;
    opacity: 0;
    border: 1px solid black;
    transition: 300ms;
}

main{
    justify-content: center;
    justify-items: center;
    margin-top: 0vw;
    width: 90%;
    height: auto;
    padding: 2vw 0vw;
    display: block;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.267);
    border-radius: 1vw;
    border: 1px solid black;
}
.main{
    justify-content: center;
    justify-items: center;
    background:linear-gradient(to top, rgba(0, 210, 233, 0.334), rgba(0, 116, 166, 0));
}
#main-frame{
    height: 100%;
    width: 100%;
    justify-content: center;
    justify-items: center;
}
#tittle-main{
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 1vw 0vw;
    width: 60%;
    display: flex;
}
#tittle-main h1{
    font-size: 70%;
}
#video-main{
    justify-content: center;
    justify-items: center;
    margin: 2vw auto;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.285) 1vw 0.4vw;
    width: 50%;
}
#content-media{
    justify-content: center;
    justify-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin: 3vw 0vw;
    background: rgba(0, 0, 0, 0.534);
    display: flex;
}
#img-main{
    width: 8vw;
    height: 8vw;
    justify-content: center;
    justify-items: center;
}
.tittle-cpr{
    margin: 0vw auto;
    font-size: 70%;
    justify-content: center;
}
.help{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.help-wrapper{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: space-between;
    width: 20%;
    height: auto;
    border: 2px solid black;
    background: rgba(0, 126, 253, 0.104);
    border-radius: 10px;
    margin: 1vw 1vw;
    padding: 1vw 1vw;
}
.help *{
    font-size: 1vw;
}
.tittle-help{
    justify-content: center;
    justify-items: center;
}
.tittle-help h1{
    font-size: 200%;
   height: auto;
}
.tittle-help h2{
    font-size: 100%;
}
.image-help{
    justify-content: center;
    justify-items: center;
    margin: 2vw 0vw;
    display: flex;
}
.img-cpr{
    width: 50%;
    background: rgba(255, 255, 255, 0.378);
    border: 1px solid black;
    border-radius: 5px;
}
.description-help *{
    width: auto;
    height: auto;
    font-size: 90%;
}
.line{
    justify-content: center;
    justify-items: center;
    width: auto;
    height: auto;
    margin: 2vw 0vw;
}
.img{
    display: block;
    width: 10%;
}
.separator{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: block;
    height: 0%;
    width: 90%;
    border: 1px solid black;
}
}